.backButton {
    margin-left: 600px;
}

#cardTable {
    margin: auto;
    padding: 20px;
}

#cardTable td {
    width: 80px;
    height: 115px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: dimgrey;
}

#cardTable td img {
    width: 80px;
    height: 105px;
}

.invisible {
    display: none;
}

.vanish3 {
    opacity: 0.3;
}

.vanish2 {
    opacity: 0.6;
}

.vanish1 {
    opacity: 0.9;
}